<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :venue_id, "Select a venue if you are an owner" %>
  <%= f.collection_select :venue_id, Venue.all, :id, :name, include_blank: true %><br>

  <%= f.submit "Create User" %>

<%end%>
