<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.lable :venue_owner, "Check this box if you are a venue owner" %>
  <%= f.check_box :venue_owner %>

  <%= f.submit "Create User" %>

<%end%>
