<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :venue_owner, "Check this box if you are a venue owner" %>
  <%= f.check_box :venue_owner %><br>

  <%= f.submit "Create User" %>

<%end%>
