<h1> <%= @venue.name %> </h1>

<p><%= @venue.description %></p>

<h3>Scheduled shows:</h3>
<% @venue.bookings.each do |show| %>
  <% if show.id %>
    <h4><%= link_to show.band.name, band_path(show.band) %> </h4>
    <p> <%= format_showtime(show.showtime) %> </p>
    <p> <%= link_to "Link to Show", booking_path(show) %></p><br>
  <% end %>
<% end %>

<h4>Book a band at this venue</h4>
<%= render partial: '/bookings/form' %>
