<h1> <%= @venue.name %> </h1>

<p><%= @venue.description %></p>

<h3>Scheduled shows:</h3>
<% @venue.bookings.each do |show| %>
  <% if show.id %>
    <h4><%= link_to show.band.name, band_path(show.band) %> </h4>
    <p> <%= format_showtime(show.showtime) %> </p>
    <p> <%= link_to "Link to Show", booking_path(show) %></p><br>
  <% end %>
<% end %>

<div class="added-booking">
  <h4 id="band-name"></h4>
  <p id="showtime"></p>
  <p id="link"></p>
</div>

<h4>Book a band at this venue</h4>

<%= form_for @booking, html: {class: "js-create datetime"} do |f|  %>
  <% if params[:band_id] %>
    <%= f.hidden_field :band_id %>
  <% else %>
    <%= f.label :band %>
    <%= f.collection_select :band_id, Band.all, :id, :name %><br>
  <% end %>

  <% if params[:venue_id] %>
    <%= f.hidden_field :venue_id %>
  <% else %>
    <%= f.label :venue %>
    <%= f.collection_select :venue_id, Venue.all, :id, :name %><br>
  <% end %>

  <%= f.label :showtime %>
  <%= f.datetime_select :showtime %><br>

  <%= f.submit 'Add Show'%>
<% end %>
