<h1><%= @band.name %></h1>

<p><%= @band.description %></p>

<p><strong>Rate: </strong>$<%= @band.rate %> </p> <br>

<h3>Next Show:</h3>


  <% if @show.nil? %>
    <p>There are currently no shows scheduled for this band.</p>
  <% else %>
    <div class="display-show">
      <h4><%=@show.venue.name%></h4>
      <p> <%= format_showtime(@show.showtime) %> </p>
      <p><strong>About the Venue:</strong> <%=@show.venue.description%></p>
    </div>
    <br>
    <button class="js-next" data-band-id="<%= @band.id %>" data-show-id="<%=@show.id%>">See next</button>
  <% end %>




<br>
<h4><%= link_to "See all upcoming shows", band_bookings_path(@band) %></h4>

<h4><%= link_to "Book this band", new_band_booking_path(@band) %></h4>
