<nav class="navbar">
  <%= link_to "All Shows", bookings_path %>
  <%= link_to "All Bands", bands_path %>
  <%= link_to "All Venues", venues_path %>
  <%= link_to "Book a Band", new_booking_path %>
  <%= link_to "Log Out", logout_path %>
</nav>
